form.signup,
form.login {
  margin-top: 50px;
}

/* ========== layout =========== */
/* index.html content layout */
.carousel {
  background-color: black;
}
.carousel-item{
  position: relative !important;
}
.black-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width:100%;
  background: rgba(0,0,0,0.2);
}
.mainnav {
  padding-left: 20px;
}
.heroblock {
  height: 600px;
  background-color: rgb(226, 226, 226);
}
.herocontent {
  text-align: center;
  padding-top: 200px;
}
.btn-accout {
  background-color: rgb(1, 52, 96);
  padding: 10px 40px;
  border: 2px solid rgb(1, 77, 143);
  border-radius: 10px 10px 10px 10px;
  color: aliceblue;
}
.firstbtn {
  margin-bottom: 60px;
}

.secondbtn {
  margin-top: 30px;
  background-color: rgb(77, 157, 226);
  padding: 10px 40px;
  border: 2px solid rgb(35, 76, 113);
  border-radius: 10px 10px 10px 10px;
  color: aliceblue;
}

.btn-accout:hover {
  background-color: rgb(27, 112, 186);
}

/* index section 2 layout */
.programscontent {
  margin-top: 40px;
  text-align: center;
}
.programscontent p {
  padding: 20px 200px 20px 200px;
  line-height: 1.8em;
}

.imageholder {
  height: 180px;
  width: 300px;
  background-color: rgb(226, 226, 226);
}

.imageholder img {
    max-width: 100%;
    max-height: 100%;
}

.programsblocks {
  margin-bottom: 80px;
}

/* index testimonial section */
.testimonialblock {
  height: 400px;
  position: relative;
  margin: 0px 20px;
}
.testimonialblock:nth-child(1){
  background-color: rgb(99, 175, 54);
  color: aliceblue;
}
.testimonialblock:nth-child(2){
  background-color: rgb(3, 95, 128);
  color: aliceblue;
}
.testimonialblock:nth-child(3){
  background-color: rgb(62, 31, 135);
  color: aliceblue;
}
.testimonialcontent {
  position: absolute;
  padding: 20px 20px 0px 20px;
  bottom: 0;
}
.testimonials {
  margin-bottom: 100px;
}
/* footer banner */
.startbanner {
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 40px 60px;
}

footer {
  background-color:rgb(17, 17, 17);
  color:seashell;
}
.footerlinks {
  padding: 20px 0px
}

/* sign-up page */
.signupimageholder {
  height: 600px;
  background-color: rgb(226, 226, 226);
}
.logintext {
  padding-top: 20px;
  font-size: 1.2em;
}


/* ========== typography =========== */
/* index type styles */
.mainheadline {
  font-size: 3em;
}
.subheadcopy {
  font-size: 1.2em;
}
/* index section 2 type styles */
.programscontent h2 {
  font-size: 2.5em;
}
.programscontent p {
  font-size: 1.2em;
}
.programblock .programtitle {
  margin-top: 20px;
}



/* index testimonial blocks */
.testimonialcontent {
  font-size: 1.5em;
}
.startbanner h4 {
  font-size: 2.5em;
}
.startbanner p {
  font-size: 1.5em;
}
.disclaimer {
  font-size: .8em;
  text-align: center;
  padding-bottom: 40px;
}

/* signup form */
.signupblock h2 {
  font-size: 4em;
}

.signupsubhead {
  font-size: 1.5em;
}


/* ====== program and workout pages */


.hfive {
  font-weight: 200;
  color: grey;
  display: inline;
  float: right;
  padding: 20px;
  margin-right: 39px;
}
.logo {
  width:20%;
}

.bkndBoxRight {
  width: 22%;
  height: 230px;
  display: inline;
  padding: 15px;
  float: right;
  border: 3px grey;
  background-color: beige;
  margin-right: 10px;
  
}

/* VARIATION CSS */
.bkndBoxRight2 {
  height: 250px;
  padding: 15px;
  border: 1px solid #000; 
  background-color: rgb(250, 245, 225);
}

.rewardline {
  font-size: .8em;
}



.relaxblock {
  background-image: url("../assets/manintree.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.strenblock {
  background-image: url("../assets/strenuous2.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.insaneblock {
  background-image: url("../assets/insane.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-size:cover;
  
}

.surpriseblock {
  background-image: url("../assets/surprise1.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.changeheadline {
  margin-bottom: 40px;
}
/* VARIATION ENDS */


.choiceHead1 {
font-size: 28px;
font: Helvetica medium;
font-weight: 600;
color: white;
 position: absolute;
  top: 18px;
  left: 16px;
}

.subHead {
  position: absolute;
  top: 64px;
  left:16px;
  color: white;
}
.bigNumber {
font-size: 85px;
font-weight: 500;
margin-top: 0px;
}

.programImg {
  width: 75%;
  height: 230px;
  margin-bottom: 25px;
  position: relative;
}

.relaxBox {
  position: relative;
}

.programHead {
font-weight: 800;
font-size: 50px;
letter-spacing: -3px;
margin-top: 60px;
padding: 20px;
}
.youtuberow {
  margin: 40px 0px 20px 0px;
}
#youtubeDiv {
 width: 90%;
 height: 600px;
 margin: 0px auto;
  background-color: rgb(245, 245, 245);
}

#youtubeDiv p {
  text-align: center;
  color: rgb(198, 198, 198);
  margin-top: 250px
}

.usercontent {
  width: 90%;
}

.programdetails h1 {
  font-size: 32px;
}

.programdetails p {
  font-size: 21px;
}

.markcomplete {
  text-align: right;
  vertical-align:middle;
  font-size: 21px;
}
.recommend {
  text-align: right;
}
#programselection {
  margin-top: 60px;
}

.programsblocks h2 {
  margin-bottom: 20px;
}

/* ====== responsive ========= */

@media only screen and (max-width: 700px) {
  .bkndBoxRight2 {
    height: 250px;
    padding: 15px;
    border: 1px solid #000; 
    background-color: rgb(250, 245, 225);
    margin-top:10px;
  }
  .programscontent p {
    padding: 20px 10px 20px 10px;
    line-height: 1.5em;
  }
  .programscontent h2 {
    font-size: 1.5em;
    padding: 0px 5px;
  }
  .programscontent p {
    font-size: .9em;
  }
  .programblock {
    width:300px;
  }
  .programsblocks {
    margin: 0px 15%;
  }
  .testimonialblock {
    margin: 20px 0px;
  }
  .footerbanner h4 {
font-size: 1.5em;
  }
  .footerbanner p {
    font-size: .9em;
  }
  .footerlinks {
    margin: 0px auto;
  }
}

/* //-------Crew Page ---------// */

.card-text {
  font-size: 12px;
  line-height: 3px;
}

.card-title {
  font-size: 20px;
  Margin-bottom: 10px;
}

.teamPics {
  width: 100px;
  margin-right: 15px;
  float: left;
}

.programHead1 {
  font-weight: 800;
  font-size: 50px;
  letter-spacing: -3px;
  margin-top: 60px;
  margin-bottom: 30px;
  }

  .card-body {
    margin-bottom: 25px;
  }